@tailwind base;
@tailwind utilities;
@tailwind components;


body{
    background-color: #000000;
}

input{
    background-color: #FFFFFF;
    padding: 3px 0px;
    border-radius: 4px;
}

textarea{
    
    background-color: #FFFFFF;
}